@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --grey87: rgba(177, 187, 203, 0.87);
  --grey27: rgba(255, 255, 255, 0.27);
  --white: #fff;
}

body {
  font-family: Roboto;
  line-height: normal;
  font-style: normal;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrap {
  min-height: 100vh;
  background-image: url(../assets/img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.nav-panel {
  padding: 32px 0 101px 0;
}

.nav-list {
  padding-right: 20px;
  max-width: 244px;
  text-decoration: none;
  text-align: center;
  color: var(--grey87);
  font-size: 15px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-list:last-child {
  padding-right: 0;
}

.main {
  flex-grow: 1;
  padding-bottom: 149px;
  padding-left: 14px;
}

.main-h1 {
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 8px;
}

.main-p {
  max-width: 530px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.foot-cont {
  color: var(--grey27);
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 75px;
}